@font-face {
  font-family: GoodGirl;
  src: url('../fonts/GoodGirlTrial-Regular.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: GoodGirlCondensed;
  src: url('../fonts/GoodGirlTrial-Condensed.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Brasley;
  src: url('../fonts/Brasley-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

* {
  font-family: Brasley;
}

html {
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: -webkit-linear-gradient(#000000, #000000);
  background: -moz-linear-gradient(#000000, #000000);
  background: -ms-linear-gradient(#000000, #000000);
  background: -o-linear-gradient(#000000, #000000);
  background: linear-gradient(#000000, #000000);
  scroll-behavior: smooth;
  font-family: Brasley;
}

body {
  color: white;
  font-family: Brasley;
}

section {
  /* text-align: center; */
  padding-bottom: 1rem;
  min-height: 90vh;
}

:target:before {
  content: '';
  display: block;
  height: 50px;
  margin: -50px 0 0;
}

h1 {
  font-size: 15rem;
  width: 100%;
  /* letter-spacing: 1rem; */
  color: black;
  text-transform: lowercase;
  font-family: GoodGirl;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.2em;
  font-weight: 600;
  margin: 0;
  font-family: Brasley;
}

h3 {
  font-size: 2.5rem;
}

h4 {
  font-size: 32px;
  line-height: 0.3em;
  font-weight: 400;
  font-style: italic;
  padding-top: 24px;
}

h5 {
  line-height: 1.5rem;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  color: black;
  background-color: white;
  padding: 0em 1em;
  font-size: 1.5rem;
}

footer {
  width: 100%;
  text-align: center;
  margin-top: auto;
}

.eventInfo {
  font-size: 2.5rem;
  line-height: 1.2em;
  font-weight: 600;
  margin: 0;
  font-family: Brasley;
  text-transform: lowercase;
  text-align: right;
}

.date {
  background-image: linear-gradient(white, white);
  color: black;
  padding: 0.4rem 0rem 0.1rem 0rem;
}

.label {
  font-size: 2rem;
  color: gray;
}

.button {
  font-size: 1.2rem;
  text-align: center;
  color: white;
  padding: 12px 60px;
  background-color: #3f46ce;
  border-radius: 6px;
  border: white;
  letter-spacing: '';
  cursor: pointer;
  text-transform: lowercase;
  font-weight: bold;
}

.button:hover {
  padding: 12px 60px;
  background-color: white;
  color: black;
  border-radius: 6px;
  border: white;
  letter-spacing: '';
  cursor: pointer;
  text-transform: lowercase;
  font-weight: bold;
  transition: all 0.1s ease-in-out;
}

.buyTickets {
  color: white;
  width: 100%;
}

.buyTickets:hover {
  color: black;
}

.buyTickets a {
  color: black;
}

.title {
  display: flex;
  align-items: center;
  height: 40vh;
  padding-left: 1rem;
  padding-top: 2rem;
}

.telegramChannel {
  margin-top: 0rem;
}

.telegramLink {
  color: white;
  text-decoration: none;
  background-image: linear-gradient(#3f46ce, #3f46ce);
  background-size: 100% 1.5em;
  background-position: 0 90%;
  background-repeat: no-repeat;
  transition: all 0.1s ease-in;
  background-color: transparent;
  display: inline-block;
  font-weight: bold;
  padding: 0rem 0.2rem 0rem 0.2rem;
}

.telegramLink:hover {
  background-image: linear-gradient(white, white);
  background-size: 100% 1.5em;
  background-position: 0 90%;
  background-repeat: no-repeat;
  transition: all 0.1s ease-in-out;
  color: black;
  /* padding: 0 0.05em; */
}

.subtitle {
  margin-bottom: 2rem;
}

.line-up {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tickets {
  margin: auto;
  text-align: center;
}

.ticketInfo {
  padding-top: 1rem;
  line-height: 1.2em;
  font-weight: 600;
  margin: 0;
  font-family: Brasley;
}

/* 
.heading {
  width: 100%;
  display: flex;
  justify-content: space-around;
} */

#projects {
  margin: auto;
}

.list {
  padding: 2rem 0rem;
  width: 100%;
}

.list-item {
  padding: 4rem 0rem;
  animation: fade-in 0.8s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.link {
  display: inline;
  font-size: 6rem;
  line-height: 1em;
  font-weight: 600;
  margin: 0;
  position: relative;
  display: inline-block;
}

.link .description {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  right: 10%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s ease-in-out, opacity 0.1s linear;
}

.link:hover .description {
  visibility: visible;
  opacity: 1;
}

.checkout {
  padding: 3rem 4rem 2rem 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}

:root {
  --color-primary: white;
  --color-secondary: white;
  --color-tertiary: white;
  --color-quaternary: white;
  --color-quinary: white;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

.text_shadows {
  /* text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary); */
  font-weight: 400;
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  /* -webkit-animation: shadows 2s ease-in infinite, move 2s ease-in infinite;
  animation: shadows 2s ease-in infinite, move 2s ease-in infinite; */
  letter-spacing: 0.4rem;
}

@-webkit-keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}
@-webkit-keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@media screen and (max-width: 450px) {
  h1 {
    font-size: 7rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h5 {
    line-height: 1.5rem;
    font-size: 1rem;
  }

  p {
    padding: 0rem 0.5rem;
    font-size: 1rem;
  }

  .link {
    font-size: 3rem;
  }

  .list-item {
    padding: 2rem 0rem;
    margin: 0rem 1rem;
  }

  .link .description {
    font-size: 0.5rem;
  }

  .title {
    height: 35vh;
  }
  .telegramChannel {
    margin-top: 2rem;
  }

  .line-up {
    display: block;
    padding-left: 1rem;
  }

  .ticketInfo {
    padding-top: 1rem;
    line-height: 1.5rem;
  }

  .eventInfo {
    padding-top: 2rem;
    font-size: 1.5rem;
    padding-right: 1rem;
  }

  .eventDetails {
    padding-bottom: 1rem;
  }
}
